<%- include('../partials/layout_top') -%>

      <section id="about">
          <!--One row two columns-->
          <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="mt-4 p-5 rounded" style="color: rgb(94, 93, 93);">
                      <p>
                        Charles "Lolo" Harris is an electrifying American professional boxer hailing from the heart of San Bernardino, California. His journey began on September 28, 2003, when the world welcomed a future champion into its ranks.
                        Lolo Harris laced up his boxing gloves at the tender age of 6, guided and molded by none other than his father. Through unwavering dedication and relentless training, Lolo Harris swiftly rose through the ranks, eventually earning the coveted title of the number 1 ranked amateur boxer and proudly representing the nation as a BoxingUSA member.
                        After a triumphant career as an amateur, Lolo Harris made the audacious leap into the professional boxing world. Remarkably, he ventured into the professional arena at just 16 years old, demonstrating an unwavering determination and a thirst for greatness that knows no bounds.
                        For Lolo Harris, the professional ring is where dreams are born and legends are made. His ultimate goal is not just to become the best inside the ring, but also to be an inspiration outside of it. Get ready to witness the incredible journey of Charles "Lolo" Harris as he strives for greatness in the world of professional boxing. Stay tuned for the thrilling chapters yet to be written in his remarkable story!
                      </p>
                    </div>
                  </div>
                  <div class="col">
                      <div class="mt-4 p-5 rounded">
                          <img width="320" height="380"  class="rounded mx-auto d-block"  src="/images/about2Img.PNG"> 

                      </div>
                  </div>
                </div>
              </div>
      </section>
      
<%- include('../partials/layout_bottom') -%>